<div class="CVcontainer">
    <div id="topcard-home" class="panel panel-default">
        <div class="container-post-status">
            <div class="row">
                <div class="col-lg-2">
                    <%= image_tag("avatar.jpg", :alt => "image avatar") %>
                </div>
                <div class = "col-lg-5">
                    </br></br></br> </br>
                    <h1>&nbsp;&nbsp;&nbsp; Anh Tuấn</h1>
                </div>
            </div>
        </div>
    </div>
</div>