<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class = "col-lg-2">
                 <h><a href="">Like</a></h>
            </div>
            <div class = "col-lg-3">
            <h><a href="">Comment</a></h>
            </div>
            <div class = "col-lg-2">
            <h><a href="">Share</a></h>
            </div>
        </div>
    </div>
</div>