<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class = "col-lg-1" style="padding-left: 0px;">
                 <%= image_tag("avatar.jpg", :alt => "image avatar") %>
            </div>
            <div class = "col-lg-7">
                <p><b>&nbsp;&nbsp;&nbsp; Anh Tuấn</b></p>
                <h3>&nbsp;&nbsp;&nbsp;&nbsp; 10/10/2016</h3>
            </div>
        </div>
    </div>
</div>